.header {
    width: 1920px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;

}


