.header {
    width: 1920px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navList {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

}